/*до 153 строчки - верхняя линия с тремя кнопками*/

body{
    background-image: url("../img/backend_building.png");
    background-size: 100%;
    font-size: 24px;
    font-weight: 200;
    color: #393e46;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    background-attachment: fixed;
}


.top_line {
	background: white;
	height: 50px;
	width: 98%;
	border-radius: 25px;
	position: absolute;
	margin-top: 7px;
	margin-left: 1%;
}

 .left_top, .right_top {
    float: left;
    width: 30%;
	font-weight: normal;
	font-family: Calibri;
 }

.right_top {
    text-align: right;
}

.left_top {
    margin-left: 1%;
}

.top_button1, .menu_button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	left: 120%;
	margin-top: 5px;
	margin-left: 15px;
	border: none;
}

.top_button1{
	background-image: url("../img/person.png");
	background-size: 100%;
	transition: 0.5s;
	z-index: 999;
}
.top_button1:hover{
	transform: scale(1.2);
}

.menu_button {
	background-image: url("../img/settings.png");
	background-size: 100%;
	transition: 0.5s;
}

.menu_button {
    width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	left: 120%;
	margin-top: 5px;
	margin-left: 15px;
	border: none;
	z-index: 999;
}

.menu_button:hover, .menu_button:focus {
    background-color: #2980B9;
}

.dropdown-content {
	display: none;
    background-color: white;
    overflow: hidden;
    position: absolute;
    margin-left: 80%;
  	width: 20%;
	height: 110vh;
	animation-name: line-to-rect;
	animation-duration: 0.5s;
	z-index: 10;
	border-left: 2px solid black;
}

.dropdown-content a {
    color: black;
    display: block;
	vertical-align: middle;
	margin-left: 2px;
	height: 40px;
	width: 80%;
	border-radius: 0px;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 20px;
	border-left: 2px solid white;
}

.fuktext {
	margin-left: 50px;
}

.dropdown-content a:hover {
	background-color: #e6e6e5;
	border-left: 2px solid black;
}

.rz {
	height: 40px;
}


.dropdown a:hover {
	background-color: #ddd;
}

.show {display: block;}

.menu_button:hover{
	transform: scale(1.2);
}

@keyframes line-to-rect {
  from {
    width: 280px;
    height: 110vh;
    margin-left: 110%;
  }
  to {
    width: 280px;
    height: 110vh;
    margin-left: 80%;
  }
}

/*снизу уже конкретно под проект*/

.p1 {
	border-bottom: 2px solid black;
	width: 50%;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	margin-left: 200px;
	margin-top: 9px;
	max-height: 40px;
	white-space: nowrap;
}

.filters{
	border-bottom: 2px solid black;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	color: #000000;
	margin-left: 140px;

}

.in_filters{
	border-bottom: 2px solid black;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	color: #000000;
	margin-left: 34%;

}



.experiance{
	padding-left: 10px;
}

.experiance span{
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 20px;
}
.experiance_form{
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 16px;
	margin-bottom: 10px;
}


.filters, .project{
	margin-top: 55px;
	position: absolute;
	top: 0;
	width: 50%;
	box-sizing: border-box;
}
.filters{
	left: 0;
	width: 25%;
	height: 90%;
	padding: 5px;
	margin-top: 65px;
	margin-left: 10px;
	border-radius: 20px;
	background-color: #4169E1;
	height: 100vh;
}
.project{
	width: 85%;
	right: 0;
	padding: 10px;
}


.project-title, .project-title-p{
	background: white;
	height: 30px;
	width: 50%;
	border-radius: 15px;
	text-align: center;
	font-family: Calibri;
	flex-grow: 4;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

.project-photo{
	float: left;
	width: 15%;
	margin-right: 10px;
	margin-top: 10px;
}

.project-line{
	display: flex;
	width: 90%;
}

.project-tags{
	flex-grow: 1;
	margin-left: 17%;
	font-family: Calibri;
	background: #99ffff;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	height: 30px;
	border-radius: 15px;
}


.project-tags1{
	flex-grow: 1;
	margin-left: 8%;
	font-family: Calibri;
	background: #99ffff;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	height: 30px;
	border-radius: 15px;
	width: 30%;
}

.project-tags2{
	flex-grow: 1;
	margin-left: 2%;
	font-family: Calibri;
	background: #ffe066;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	height: 30px;
	border-radius: 15px;
	width: 20%;
}





