body{
    background-image: url("../img/backend_building.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 24px;
    font-weight: 200;
    color: #000000;
    position: relative;
}

.bi-x-circle{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-left: 710px;
}
.bi-x-circle:hover{
    background-color: #C0C0C0;
}
.x-btn{
    position: absolute;
    margin-left: -25%;
    width: 35px;
    height: 35px;
}
.image{
    margin-left: 30px;
}
.title{
    margin-left: 30px;
}

.titl {
    text-align: center;
    font-family: Calibri;
    font-size: 55px;
    color: white;
    font-weight: bold;
}


.input_form {
    position: absolute;
    margin-top: 3%;
    text-align: center;
    width: 100%;
}

.input-row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.form-label{
    font-size: 35px;
  
    font-family: Calibri;
    color: white;
    margin-top: 30px;
    flex-grow: 3;
}
.form-input{
    margin-top: 30px;
   
    flex-grow: 4;
}

input {
    border-color: black;
    border-radius: 15px;
    border: 2px solid black;
    height: 30px;
    width: 250px;
    font-size: 18px;
}

.submit_btn{
    background: #FFFFFF;
    border: 2px solid black;
    height: 36px;
    width: 100px;
    border-radius: 18px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Calibri;
}

.submit_btn:hover{
    background: #d9d9d9;
}

.form-error{
    font-size: 24px;
    color: #800000;
}

.reloc_btn{
    background: #FFFFFF;
    border: 2px solid black;
    height: 36px;
    width: 230px;
    border-radius: 18px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Calibri; 
}

.reloc_btn:hover{
    background: #d9d9d9;
}

.message{
    font-size: 26px;
    font-family: Calibri;
    margin-top: 10px;
}