body{
	background-image: url("../img/backend_building.png");
    background-size: 100%;
    font-size: 24px;
    font-weight: 200;
    color: #393e46;
    background-repeat:no-repeat;
    position: relative;
    margin: 0;
    background-attachment: fixed;
}

.data{
	font-family: Calibri;
	font-size: 20px;
	margin-left: 8%;
}

.edit{
	flex-grow: 3;
    margin-left: 7%;
    background: #FFFFFF;
    border: 2px solid black;
    height: 30px;
    width: 90%;
    border-radius: 15px;
    font-size: 20px;
    font-family: Calibri; 
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.edit:hover{
    background: #d9d9d9;
}

.ans{
    font-family: Calibri;
    flex-grow: 3;
    margin-left: 4%;
    color: black;
    font-size: 20px;
    height: 30px;
    text-align: center;
}

.ans_btn{
    flex-grow: 3;
    margin-left: 5%;
    background: #FFFFFF;
    border: 2px solid black;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    font-family: Calibri; 
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.back{
    background: #e6f0ff;
    border-radius: 10px;
    width: 80%;
    margin-left: 4%;
    border: 2px solid #0066ff;
}
.invite{
    margin-left: 10%;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    font-size: 18px;
    font-family: Calibri;
    background-color: #e6f0ff;
}

.invite:hover{
    background-color: #6495ED;
}

.animate{
  animation: animateButton 0.5s ease-in-out;
}

@keyframes animateButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.error_iviting{
    color: #800000;
    margin-left: 5%;
}
