body{
    background-image: url("../img/backend_building.png");
    background-size: 100%;
    font-size: 24px;
    font-weight: 200;
    color: #393e46;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.filters, .in_filters{
	border-bottom: 2px solid black;
	font-weight: normal;
	font-size: 24px;
	color: #000000;
	margin-left: 140px;
	
}

.top_line {
	background: white;
	height: 50px;
	width: 100%;
	border-radius: 25px;
	position: fixed;
	margin-right: 5px;
}

 .left_top, .right_top {
    float: left;
    width: 30%; 
	font-weight: normal;
 }

.right_top {
    text-align: right; 
}

.top_button1, .top_button2 {
	width: 40px; 
	height: 40px;
	border-radius: 50%;
	position: relative;
	left: 120%;
	margin-top: 5px;
	margin-left: 15px;
	border: none;
}

.top_button1{
	background-image: url("../img/person.png");
	background-size: 100%;
	transition: 0.5s;
}
.top_button1:hover{
	transform: scale(1.2);
}

.top_button2 {
	background-image: url("../img/settings.png");
	background-size: 100%;
}

.p1 {
	border-bottom: 2px solid black;
	width: 50%;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	margin-left: 200px;
	margin-top: 9px;
	max-height: 40px;
	white-space: nowrap;
}

.experiance{
	padding-left: 0.3em;
	padding-right: 0.5em;
}

.experiance span{
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 20px;
}
.experiance_form{
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 16px;
	margin-bottom: 10px;	
}

.filters, .project{
	margin-top: 55px;
	height: 100hv;
	top: 0;
	box-sizing: border-box;
}
.filters{
	float: left;
    width: 25%;
    height: 90vh;
    padding: 5px;
    margin-top: 65px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #4169E1;
    position: fixed;
    opacity: 0.8;
}
.project{
	float: right;
    width: 85%;
    height: 90vh;
    padding: 10px;
}
/*.project-title{
	color: #3c4245;
	font-size: 20px;
	margin-top: -5px;
	margin-bottom: -2px;
}

.project-title-p{
	color: #3c4245;
	font-size: 20px;
	margin-top: -5px;
	margin-bottom: -2px;
	margin-left: 10px;
}

.project-photo{
	float: left;
	width: 15%;
	margin-right: 10px;
}*/
.filter-found-button-input{
	display: block;
  	width: 30%;
  	margin-left: 10em;
  	margin-top: 4em;
  	height: calc(2.25rem + 2px);
  	background-color: #E0FFFF;
  	border-radius: 10px;
}
.filter-found-button-input:hover{
	background-color: #DCDCDC;
}
.button-clear-filters{
	display: block;
  	width: 50%;
  	margin-left: 7.3em;
  	margin-top: 2em;
  	height: calc(2.25rem + 2px);
  	background-color: #E0FFFF;
  	border-radius: 10px;
  	text-decoration: none;
}
.button-clear-filters:hover{
	background-color: #DCDCDC;
}


/* Стили для пагинации */
.paginator{
	clear: both;
	float: none;
	margin-top: 10px;
	padding-top: 1em;
}
.list-pages{
	margin-left: 50%;
}
.list-pages span{
	color: #000080;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 3px solid #000080;
    text-align: center;
    margin-right: 5px;
}
.list-pages a{
	color: #000080;
	text-decoration: none;
	font-size: 20px;
}