body{
    background-image: url("../img/backend_building.png");
    background-size: 100%;
    font-size: 24px;
    font-weight: 200;
    color: #393e46;
    background-repeat: no-repeat;
}
.filters{
	border-bottom: 2px solid black;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	color: #000000;
	margin-left: 140px;
	
}

.in_filters{
	border-bottom: 2px solid black;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	color: #000000;
	margin-left: 34%;
	
}

.top_line {
	background: white;
	height: 50px;
	width: 100%;
	border-radius: 25px;
}

 .left_top, .right_top {
    float: left;
    width: 30%; 
	font-weight: normal;
	font-family: Calibri;
 }

.right_top {
    text-align: right; 
}

.top_button1, .dropbtn {
	width: 40px; 
	height: 40px;
	border-radius: 50%;
	position: relative;
	left: 120%;
	margin-top: 5px;
	margin-left: 15px;
	border: none;
}

.top_button1{
	background-image: url("../img/person.png");
	background-size: 100%;
	transition: 0.5s;
}
.top_button1:hover{
	transform: scale(1.2);
}

.top_button2, .dropbtn {
	background-image: url("../img/settings.png");
	background-size: 100%;
	transition: 0.5s;
}

.dropbtn:hover{
	transform: scale(1.2);
}

.p1 {
	border-bottom: 2px solid black;
	width: 50%;
	font-weight: normal;
	font-family: Calibri;
	font-size: 24px;
	margin-left: 200px;
	margin-top: 9px;
	max-height: 40px;
	white-space: nowrap;
}

.experiance{
	padding-left: 10px;
}

.experiance span{
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 20px;
}
.experiance_form{
	color: #000000;
	font-weight: normal;
	font-family: Calibri;
	font-size: 16px;
	margin-bottom: 10px;	
}


.filters, .project{
	margin-top: 55px;
	position: absolute;
	top: 0;
	width: 50%;
	box-sizing: border-box;
}
.filters{
	left: 0;
	width: 25%;
	height: 90%;
	padding: 5px;
	margin-top: 65px;
	margin-left: 10px;
	border-radius: 20px;
	background-color: #4169E1;
}
.project{
	width: 85%;
	right: 0;
	padding: 10px;
}
.project-title{
	color: #3c4245;
	font-size: 20px;
	margin-top: -5px;
	margin-bottom: -2px;
}

.project-title-p{
	color: #3c4245;
	font-size: 20px;
	margin-top: -5px;
	margin-bottom: -2px;
	margin-left: 10px;
}

.project-photo{
	float: left;
	width: 15%;
	margin-right: 10px;
}

.dropbtn {
    width: 40px; 
	height: 40px;
	border-radius: 50%;
	position: relative;
	left: 120%;
	margin-top: 5px;
	margin-left: 15px;
	border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}