{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'itmo_hh/css/index.css' %}" />
    <script type="text/javascript" src="{% static 'itmo_hh/js/drop_down.js' %}"></script>

    <title>Main_page</title>
</head>
<body>
<div id="bod" style="width: 100%; height: 850px; z-index: 999; top: 0px; left: 0px;">
    <!-- до 42 строчки код верхней полоски с 3 кнопками -->
	<div class="top_line">
		<div class="left_top">
			<a href="{% url 'home' %}"><img  src="../../static/itmo_hh/img/itmo_logotip.png"></a>
		</div>
		<div class="right_top">
			<a href="{% url 'personal_account' %}"><button class="top_button1"></button></a>
<!--			<button class="top_button2"></button>-->

			<a><button onclick="myFunction()" class="menu_button"></button></a>
 


		</div>
	</div>

	<div id="myDropdown" class="dropdown-content">
            <p class="rz"></p>

            {% if request.user.is_authenticated %}
                <a class="dropdown-content"><span class="fuktext"><b> {{ request.user.username }} </b></span></a>
                <p class="rz"></p>
                <a href="{% url 'logout' %}" class="dropdown-content"><span class="fuktext">Выйти</span></a>
                <p class="rz"></p>
            {% else %}
                <a href="{% url 'login' %}" class="dropdown-content"><span class="fuktext">Вход в аккаунт</span></a>
                <p class="rz"></p>
                <a href="{% url 'register' %}" class="dropdown-content"><span class="fuktext">Регистрация</span></a>
                <p class="rz"></p>
            {% endif %}

            <a href="{% url 'resume_person' %}" class="dropdown-content"><span class="fuktext">Создать резюме</span></a>
            <p class="rz"></p>
            <a href="{% url 'resume_project' %}" class="dropdown-content"><span class="fuktext">Создать проект</span></a>
            <p class="rz"></p>
            <a href="{% url 'project' %}" class="dropdown-content"><span class="fuktext">Поиск проектов</span></a>
            <p class="rz"></p>
            <a href="{% url 'startapp' %}" class="dropdown-content"><span class="fuktext">Поиск стартапов</span></a>
            <p class="rz"></p>
            <a href="{% url 'competitions' %}" class="dropdown-content"><span class="fuktext">Поиск конкурсов</span></a>
            <p class="rz"></p>
            <a href="{% url 'resume' %}" class="dropdown-content"><span class="fuktext">Поиск участников</span></a>
            <p class="rz"></p>
            <!-- <a href="{% url 'home' %}" class="dropdown-content">Контакты</a> -->
    </div>

    
        <h1 class="main_header">Поиск проектов <br> <span style="left: 17%; position: absolute;">для вашей карьеры</span> <br> <span style="left: 34%; position: absolute;">в ITMO HUNTER</span></h1>
        <p class="right_text">Найди проект,<br> команду для конкурса,<br> стартапа, хакатона или<br> репетитора</p>
        <a class="resume_frame" id="resume_frame">
            Создать резюме
        </a>
        <a class="resume_frame1" id="resume_frame1" href="{% url 'resume_project' %}">
            Для проекта
        </a>
        <a class="resume_frame2" id="resume_frame2" href="{% url 'resume_person' %}">
            Личное резюме
        </a>
        <div class="horizont_line" id="horizont_line"></div>
        <div class="vertical_line" id="vertical_line"></div>
        <br>
        <br>
        <div class="projects_frame">
            <div class="frame_1">
                <img src="{% static 'itmo_hh/img/index1.jpg' %}" class="img1">
                <h2 class="text_1"><a href="{% url 'project' %}" style="text-decoration: none; color: black;">Проекты студентов и выпускников</a></h2>
            </div>
            
            <div class="frame_2">
                <img src="{% static 'itmo_hh/img/index2.jpg' %}" class="img2">
                <h2 class="text_2"><a href="{% url 'competitions' %}" style="text-decoration: none; color: black;">Команды для участия в конкурсах</a></h2>
            </div>

            <div class="frame_3">
                <img src="{% static 'itmo_hh/img/index3.jpg' %}" class="img3">
                <h2 class="text_3"><a href="{% url 'startapp' %}" style="text-decoration: none; color: black;">Вакансии: стартапы</a></h2>
            </div>
            
        </div>
        <script type="text/javascript" src="{% static 'itmo_hh/js/index.js' %}"></script>
</div>
</body>
</html>
