<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/index.css" />
    <title>Main_page</title>
</head>
<body>
    <div class="top_menu">
        <div class="menu_frame">
            <span class="logo">
                <img width="152" height="49" src="../../static/itmo_hh/img/itmo_logotip.png">
            </span>
    
            <button class="register_button"> <img src="../../static/itmo_hh/img/person.png" alt="buttonpng" />
            </button :box-sizing :border-box>
            <br>
            <button class="settings_button"> <img width="58" height="58" src="../../static/itmo_hh/img/settings.png"
                    alt="buttonpng" />
            </button :box-sizing :border-box>
        </div>
    </div>
    
    <div class="backImage">
        <h1 class="main_header">Поиск проектов <br> для вашей карьеры <br> в ITMO HUNTER</h1>
    </div>

</body>
</html>
