<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/index.css" />
    <title>Main_page</title>
</head>
<body>
    <div class="top_menu">
        <div class="menu_frame">
            <div class="logo_frame">
                <span class="logo">
                    <img width="152" height="49" src="../../static/itmo_hh/img/itmo_logotip.png">
                </span :box-sizing :border-box>
            </div>
    
            <button class="register_button"> <img src="../../static/itmo_hh/img/person.png" alt="buttonpng" />
            </button :box-sizing :border-box>
            <br>
            <button class="settings_button"> <img width="58" height="58" src="../../static/itmo_hh/img/settings.png"
                    alt="buttonpng" />
            </button :box-sizing :border-box>
        </div>
    </div>
    
    <div class="backImage">
        <div class="footer"></div>
        <h1 class="main_header">Поиск проектов <br> для вашей карьеры <br> в ITMO HUNTER</h1>
        <p class="right_text">Найди проект,<br> команду для конкурса,<br> стартапа, хакатона или<br> репетитора</p>
        <button class="resume_frame">
            <p class="resume_text">Создать резюме</p>
        </button box-sizing: border-box;>
        <!--<p class="text_header">Поиск проектов для вашей карьеры в ITMO HUNTER</p>-->
        <div class="projects_frame">
            <div class="frame_3">
                <span class="picture_3"></span>
                <h2 class="text_3">Вакансии: стартапы</h2>
            </div>
            <div class="frame_2">
                <span class="picture_2"></span>
                <h2 class="text_2">Команды для участия в конкурсах</h2>
            </div>
            <div class="frame_1">
                <span class="picture_1"></span>
                <h2 class="text_1">Проекты студентов и выпускников</h2>
            </div>
        </div>
    </div>

</body>
</html>
