{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'itmo_hh/css/login.css' %}">
</head>
<body>
    

{% block content %}
    <h1 class="titl">вход 
<a href="{% url 'home' %}" class="x-btn"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg></a>
    </h1>

    <div class="input_form">
    <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
        <div class="input-row">
        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label> <div class="form-input"> {{ f }} </div>
        </div>
        <br>
        {% endfor %}
        <button type="submit" class='submit_btn'>войти</button>
        <br>
    </form>
    <p class="message">Нет аккаунта?</p>
    <a href="{% url 'register' %}"><button class="reloc_btn">зарегистрироваться</button></a>
    <br>
    </div>
{% endblock %}
<br>


</body>