{% extends 'itmo_hh/personal_account.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal_account_my_otclics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'itmo_hh/css/personal_account.css' %}" />
</head>
<body>
    {% block content %}
        <p>Мои отклики на проекты:</p>
        {% for otclic in otclics_on_projects %}
            <div class="otclic">
                <sapn>Вы откликнулись на проект: </sapn>
                <a href="{% url 'project' otclic.project_id %}">{{ otclic.project.title }}</a>
                <span>Своим резюме</span>
                <a href="{% url 'resume' otclic.resume_id %}">{{  otclic.resume.title }}</a>

                <sapn>Статус: </sapn>
                {% if otclic.status == 0 %}
                    <span>В рассмотрении</span>
                {% elif otclic.status == 1 %}
                    <span>Принято</span>
                {% elif otclic.status == 2 %}
                    <span>Отклонено</span>
                {% else %}
                    <span>Неизвестный статус</span>
                {% endif %}
            </div>
        {% endfor %}

        <p>Мои приглашенные резюме:</p>
        {% for offer in offers_to_resumes %}
            <div class="otclic">
                <span>Вы пригласили в проект: </span>
                <a href="{% url 'project' offer.project_id %}">{{ offer.project.title }}</a>
                <sapn>Резюме </sapn>
                <a href="{% url 'resume' offer.resume_id %}">{{ offer.resume.title }}</a>

                <sapn>Статус: </sapn>
                {% if offer.status == 0 %}
                    <span>В рассмотрении</span>
                {% elif offer.status == 1 %}
                    <span>Принято</span>
                {% elif offer.status == 2 %}
                    <span>Отклонено</span>
                {% else %}
                    <span>Неизвестный статус</span>
                {% endif %}

            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>