{% extends 'itmo_hh/personal_account.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal_account_my_otclics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'itmo_hh/css/personal_account.css' %}" />
</head>
<body>
    {% block content %}
        <p class="otclic_tem">Мои отклики на проекты:</p>
        {% for otclic in otclics_on_projects %}
            <div class="otclic">
                <sapn>Вы откликнулись на проект: </sapn>
                <a class="offer_link" href="{% url 'project' otclic.project_id %}">{{ otclic.project.title }}</a>
                <span>своим резюме</span>
                <a class="offer_link" href="{% url 'resume' otclic.resume_id %}">{{  otclic.resume.title }}</a>

                <div class="otclic_status">
                    <sapn>Статус: </sapn>
                    {% if otclic.status == 0 %}
                        <span class="otclic_status_0">В рассмотрении</span>
                    {% elif otclic.status == 1 %}
                        <span class="otclic_status_1">Принято</span>
                    {% elif otclic.status == 2 %}
                        <span class="otclic_status_2">Отклонено</span>
                    {% else %}
                        <span class="otclic_status_none">Неизвестный статус</span>
                    {% endif %}

                    <br>
                    <span>Дата:</span>
                    <span>{{ otclic.time_published }}</span>

                </div>

            </div>
        {% endfor %}

        <p class="otclic_tem">Мои приглашенные резюме:</p>
        {% for offer in offers_to_resumes %}
            <div class="otclic">
                <span>Вы пригласили в проект: </span>
                <a class="offer_link" href="{% url 'project' offer.project_id %}">{{ offer.project.title }}</a>
                <sapn>Резюме </sapn>
                <a class="offer_link" href="{% url 'resume' offer.resume_id %}">{{ offer.resume.title }}</a>

                <div class="otclic_status">
                    <sapn>Статус: </sapn>
                    {% if offer.status == 0 %}
                        <span class="otclic_status_0">В рассмотрении</span>
                    {% elif offer.status == 1 %}
                        <span class="otclic_status_1">Принято</span>
                    {% elif offer.status == 2 %}
                        <span class="otclic_status_2">Отклонено</span>
                    {% else %}
                        <span class="otclic_status_none">Неизвестный статус</span>
                    {% endif %}

                    <br>
                    <span>Дата:</span>
                    <span>{{ offer.time_published }}</span>

                </div>

            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>