{% extends 'itmo_hh/personal_account.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal_account_my_offers</title>
    <link rel="stylesheet" type="text/css" href="{% static 'itmo_hh/css/personal_account.css' %}" />
</head>
<body>
    {% block content %}
        <p class="otclic_tem">Откликнувшиеся резюме:</p>
        {% for offer in offers_for_my_project %}
            <div class="otclic">
                <sapn>На ваш проект </sapn>
                <a class="offer_link" href="{% url 'project' offer.project_id %}">{{ offer.project.title }}</a>

                <span>Откликнулось резюме</span>
                <a class="offer_link" href="{% url 'resume' offer.resume_id %}">{{  offer.resume.title }}</a>

                <div class="otclic_status">
                    <sapn>Статус: </sapn>
                    {% if offer.status == 0 %}
                        <span class="otclic_status_0">В рассмотрении</span>
                    {% elif offer.status == 1 %}
                        <span class="otclic_status_1">Принято</span>
                    {% elif offer.status == 2 %}
                        <span class="otclic_status_2">Отклонено</span>
                    {% else %}
                        <span class="otclic_status_none">Неизвестный статус</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <p class="otclic_tem">Ваши приглашения для участия:</p>
        {% for offer in offers_as_invite %}
            <div class="otclic">
                <sapn>По вашему резюме </sapn>
                <a class="offer_link" href="{% url 'resume' offer.resume_id %}">{{ offer.resume.title }}</a>

                <span>вас пригласил проект</span>
                <a class="offer_link" href="{% url 'project' offer.project_id %}">{{ offer.project.title }}</a>

                <div class="otclic_status">
                    <sapn>Статус: </sapn>
                    {% if offer.status == 0 %}
                        <span class="otclic_status_0">В рассмотрении</span>
                    {% elif offer.status == 1 %}
                        <span class="otclic_status_1">Принято</span>
                    {% elif offer.status == 2 %}
                        <span class="otclic_status_2">Отклонено</span>
                    {% else %}
                        <span class="otclic_status_none">Неизвестный статус</span>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>