{% extends 'itmo_hh/personal_account.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/personal_account.css" />
        <script type="text/javascript" src="{% static 'itmo_hh/js/drop_down.js' %}"></script>
</head>
<body>
    {% block content %}
        {% for project in projects %}
            <span class="res_block">
                <a href="{{ resume.get_absolute_url }}" class="res_title">{{project.title}}</a>
                <span style="padding-top: 2px; padding-bottom: 5px; font-size: 20px;">{{project.time_published}}</span>
            </span>

            <p style="margin-left: 20px; margin-bottom: 30px; font-size: 20px;">{{project.content|linebreaksbr|truncatewords:30}}</p>
        {% endfor %}
    {% endblock %}
</body>
</html>