{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project {{project.name}}</title>
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/page_of_project.css" />
</head>
<body>
    
{% if is_owner == True %}
    <a href="{% url 'personal_account' %}?next={{ request.path }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcFJREFUSEvFlotNBDEMRH2dQCVAJ1AJUAlQCVAJdAJ6aB3Nep0vOl2k1a1uY489GTs+2YXW6UK4tgJ8ZWa3Zsbv9xY4vx8zSYwCA3JvZo8N5w7+NhJED3gEMIvl1cyehZHDnhYwoO8bpW4InZ9bRryzx5+bjRXfCwN3NfAaMM6+JEycPAxQGIOt2tWAyRQBsaDsaUI48XjSzDPgF6FsFlTjI1gXI2cOY2VFYLIkWxaRXk9kGreSOUng80B5BNZsEUarNtm7yyIJUrWCL3z+rQiMoNh8oCY49QB75YiZ62XHoBoqza2zVVZGgPWsC4tqSGfCKQsKyTouBeVboU42xuPRhIrfGjCi8j7sPiNoTXeRBT3nwqRuUkoyYP3eEntG/09ksnbGNUVH8BGq0yNcEZeCz4qrMKmG1ZpLeHXwEeC0CqKh1lzvUgC818NV0bve0FLgf1umNg8vvVJqvUui18Fa6p66JHCkdypZM8r0KI0BKGjK3LkHgQPFtUtCI8+mCaLn8fHHGUJEjD4+PPB/c2rplcPqsNcdIHrAzgABME3QhWrL9YAgY58/2IwCawC8O6U+1J9toG+VzdK32YyXQDKjXxWyfB/hr400AAAAAElFTkSuQmCC"/></a>
{% else %}
    <a href="{% url 'project' %}?next={{ request.path }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcFJREFUSEvFlotNBDEMRH2dQCVAJ1AJUAlQCVAJdAJ6aB3Nep0vOl2k1a1uY489GTs+2YXW6UK4tgJ8ZWa3Zsbv9xY4vx8zSYwCA3JvZo8N5w7+NhJED3gEMIvl1cyehZHDnhYwoO8bpW4InZ9bRryzx5+bjRXfCwN3NfAaMM6+JEycPAxQGIOt2tWAyRQBsaDsaUI48XjSzDPgF6FsFlTjI1gXI2cOY2VFYLIkWxaRXk9kGreSOUng80B5BNZsEUarNtm7yyIJUrWCL3z+rQiMoNh8oCY49QB75YiZ62XHoBoqza2zVVZGgPWsC4tqSGfCKQsKyTouBeVboU42xuPRhIrfGjCi8j7sPiNoTXeRBT3nwqRuUkoyYP3eEntG/09ksnbGNUVH8BGq0yNcEZeCz4qrMKmG1ZpLeHXwEeC0CqKh1lzvUgC818NV0bve0FLgf1umNg8vvVJqvUui18Fa6p66JHCkdypZM8r0KI0BKGjK3LkHgQPFtUtCI8+mCaLn8fHHGUJEjD4+PPB/c2rplcPqsNcdIHrAzgABME3QhWrL9YAgY58/2IwCawC8O6U+1J9toG+VzdK32YyXQDKjXxWyfB/hr400AAAAAElFTkSuQmCC"/></a>
{% endif %}
<div class="back" id="bac">
<br>

    {% if project.photo %}
        <img src="{{project.photo.url}}" alt=":(" style="max-height: 20%; max-width: 20%; margin-top: 30px; margin-left: 8%;">
        <br>
    {% endif %}


     <p class="data"><b>Название:</b>  {{project.title}}</p>
     <p class="data"><b>Организатор:</b>  {{project.header}}</p>
     <p class="data"><b>Необходимое количество участников:</b>  {{project.applied_users}}</p>
    <p class="data"><b>Необходимый уровень образования:</b>  {{ project.get_education_level_display }}</p>
    <p class="data"><b>Требуемый опыт работы:</b>  {{ project.get_experience_display }}</p>
    <p class="data"><b>Сфера деятельности:</b>  {{ project.sphere }}</p>
    <p class="data"><b>Описание:</b>  {{project.content}}</p>

    {% if project.file %}
        <p class="data"><b>Прикрепленный файл:</b>  <a href="{{ project.file.url }}" download>Скачать файл</a></p>
    {% endif %}
    <br>
</div>

    {% if is_owner == True %}
    <br>
    <br>
    <div style="display: flex; width: 40%;">
        <a href="{% url 'update-project' project_id=project.id %}" class="edit">Редактировать</a>
        <a href="{% url 'delete-project' project_id=project.id %}" class="edit">Удалить</a>
    </div>
    <br>
    <div class="back">
        <br>
        <p class="data"><b style="font-size: 25px;">Откликнувшиеся резюме:</b></p>
        {% for applied_resume in applied_resumes %}
            <div style="display: flex; width: 80%;"><a href="{% url 'resume' resume_id=applied_resume.resume.id %}" class="ans"><b>{{ applied_resume.resume.title }}</b></a>
                {% if applied_resume.status == 0 %}
                    <span class="ans">В рассмотрении</span>
                    <a href="{% url 'accept_application' project_id=project.id resume_id=applied_resume.resume.id %}" class="ans_btn">Принять резюме</a>
                    <a href="{% url 'deny_application' project_id=project.id resume_id=applied_resume.resume.id %}" class="ans_btn">Отклонить резюме</a>
                {% elif applied_resume.status == 1 %}
                    <span class="ans">Вы приняли резюме</span>
                {% elif applied_resume.status == 2 %}
                    <span class="ans">Вы отказали резюме</span>
                {% else %}
                    <span class="ans">Неизвестный статус</span>
                {% endif %}
            </div>
        {% endfor %}

        <p class="data"><b style="font-size: 25px;">Приглашенные резюме:</b></p>
        {% for invited_resume in invited_resumes %}
            <div style="display: flex; width: 60%;"><a href="{% url 'resume' resume_id=invited_resume.resume.id %}" class="ans"><b>{{invited_resume.resume.title}}</b></a>
            {% if invited_resume.status == 0 %}
                    <span class="ans">В рассмотрении</span>
                    <a href="{% url 'recall_invitation' project_id=project.id resume_id=invited_resume.resume.id %}" class="ans_btn">Отозвать приглашение</a>
                {% elif invited_resume.status == 1 %}
                    <span class="ans">Принято</span>
                {% elif invited_resume.status == 2 %}
                    <span class="ans">Отказано</span>
                {% else %}
                    <span class="ans">Неизвестный статус</span>
                {% endif %}
            </div>
        {% endfor %}
        <br>
    </div>
    {% else %}
    <br>
    <br>
<div class="otclic_form">
    <form id="applyForm" action="{% url 'otclic_on_project' project_id=project.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="resume_id" id="resumeId">
        <button type="button" onclick="chooseResume()" class="invite animate">Откликнуться</button>
    </form>

    <div id="resumeSelection" style="display: none; margin-left: 20%; margin-top: -4.5%;">
        <select id="resumeSelect" style="border-radius: 10px; padding: 10px 10px 10px 10px;">
            {% for resume in resumes %}
                <option value={{resume.id}}>{{resume.title}}</option>
            {% endfor %}
        </select>
        <button onclick="submitResume()" class="invite animate" style="margin-left: 1%">Выбрать</button>
    </div>

    <script>
    function chooseResume() {
        document.getElementById('resumeSelection').style.display = 'block';
    }

    function submitResume() {
        var selectedResumeId = document.getElementById('resumeSelect').value;
        document.getElementById('resumeId').value = selectedResumeId;
        document.getElementById('applyForm').submit();
    }
    </script>
    {% endif %}

<!--    Вывод ошибки, если пользователь уже отправлял отклик на проект-->
    {% for message in messages %}
        <div>
            <p class="error_inviting">Ошибка: {{ message }}</p>
        </div>
    {% endfor %}
</div>



</body>
</html>
