{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personal_account</title>
        <link rel="stylesheet" type="text/css" href="{% static 'itmo_hh/css/personal_account.css' %}" />
    </head>
    <body>
        <div class="top">
            <span class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'itmo_hh/img/itmo_logotip.png' %}" alt=":("></a>
            </span>
            <span class="redaction">
                <img src="{% static 'itmo_hh/img/person.png' %}" alt="person">
            </span>
        </div>
        <div class="bottom">
            <div class="topics">
                <span class="resume"><a href="{% url 'personal_account' %}" style="color: #393e46; text-decoration: none">Мои резюме</a></span>
                <span class="offers"><a href="{% url 'my_offers' %}" style="color: #393e46; text-decoration: none">Мои предложения</a></span>
                <span class="replies"><a href="{% url 'my_otclics' %}" style="color: #393e46; text-decoration: none">Мои отклики</a></span>
            </div>
            <div id="articles" style="padding-top: 10px;">
                {% block content %}
                    {% for resume in resumes %}
                    <span class="res_block">
                        <a href="{{ resume.get_absolute_url }}" class="res_title">{{resume.title}}</a>
                        <span style="padding-top: 2px; padding-bottom: 5px; font-size: 20px;">{{resume.time_published}}</span>
                    </span>
                        <p style="margin-left: 20px; margin-bottom: 30px; font-size: 20px;">{{resume.content|linebreaksbr|truncatewords:30}}</p>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>