<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Startapp</title>
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/startapp.css" />
    <script type="text/javascript" src="../../static/itmo_hh/js/drop_down.js"></script>
</head>
<body>

	<div class="top_line">
		<div class="left_top">
			<a href="{% url 'home' %}"><img  src="../../static/itmo_hh/img/itmo_logotip.png"></a>
		</div>
		<div class="right_top">
			<a href="{% url 'personal_account' %}"><button class="top_button1"></button></a>
			<button class="top_button2"></button>
		</div>
	</div>

	<div>
		<div class="filters">
			<span class="in_filters" style="margin-top: 150px;">Фильтры</span>

			<form action="{% url 'project' %}" method="get">
				{% csrf_token %}
				<div class="form-error">{{ form.non_field_errors }}</div>
				{% for f in form %}
					<p><label class="experiance" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
					<div class="form-error">{{ form.errors }}</div>
				{% endfor %}

				<input class="filter-found-button-input" type="submit" value="Поиск">
			</form>
		</div>

		<div class="project">
			<span class="p1">Вакансии: {{title}}</span>
			<div class="project">
				{% block content %}
				{% for project in projects %}

				{% if project.photo != '#' %}

					<a href="{{project.get_absolute_url}}"><span class="project-title-p"><b>{{ project.title }}</b></span></a>

					<span><img class="project-photo" src="{{project.photo.url}}" width="100%"></span>

					<pre style="word-wrap: break-word; white-space: pre-line; font-size: 18px; margin-bottom: 30px;">{{ project.content|linebreaksbr|truncatewords:50 }}</pre>

				{% else %}

					<a href="{{ project.get_absolute_url }}"><p class="project-title"><b>{{ project.title }}</b></p></a>

					<pre style="word-wrap: break-word; white-space: pre-line; font-size: 18px; margin-bottom: 20px; padding-bottom: 1em;">{{ project.content|linebreaksbr|truncatewords:50 }}</pre>

				{% endif %}

				{% endfor %}
				{% endblock %}
			</div>
		</div>

		<div class="paginator">
	        {% if page_obj.has_other_pages %}
	        <nav class="list-pages">
	            <ul>
	                {% for p in paginator.page_range %}
	                    {% if page_obj.number == p %}
	                        <span>{{ p }}</span>
	                    {% else %}
	                        <span>
	                            <a href="?page={{ p }}">{{ p }}</a>
	                        </span>
	                    {% endif %}
	                {% endfor %}
	            </ul>
	        </nav>
	        {% endif %}
	    </div>

	</div>

</body>
</html>