{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume page</title>
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/resume_page.css" />
    <script type="text/javascript" src="{% static 'itmo_hh/js/invite_btn.js' %}"></script>
</head>
<body>
{% if is_owner == True %}
    <a href="{% url 'personal_account' %}?next={{ request.path }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcFJREFUSEvFlotNBDEMRH2dQCVAJ1AJUAlQCVAJdAJ6aB3Nep0vOl2k1a1uY489GTs+2YXW6UK4tgJ8ZWa3Zsbv9xY4vx8zSYwCA3JvZo8N5w7+NhJED3gEMIvl1cyehZHDnhYwoO8bpW4InZ9bRryzx5+bjRXfCwN3NfAaMM6+JEycPAxQGIOt2tWAyRQBsaDsaUI48XjSzDPgF6FsFlTjI1gXI2cOY2VFYLIkWxaRXk9kGreSOUng80B5BNZsEUarNtm7yyIJUrWCL3z+rQiMoNh8oCY49QB75YiZ62XHoBoqza2zVVZGgPWsC4tqSGfCKQsKyTouBeVboU42xuPRhIrfGjCi8j7sPiNoTXeRBT3nwqRuUkoyYP3eEntG/09ksnbGNUVH8BGq0yNcEZeCz4qrMKmG1ZpLeHXwEeC0CqKh1lzvUgC818NV0bve0FLgf1umNg8vvVJqvUui18Fa6p66JHCkdypZM8r0KI0BKGjK3LkHgQPFtUtCI8+mCaLn8fHHGUJEjD4+PPB/c2rplcPqsNcdIHrAzgABME3QhWrL9YAgY58/2IwCawC8O6U+1J9toG+VzdK32YyXQDKjXxWyfB/hr400AAAAAElFTkSuQmCC"/></a>
{% else %}
    <!-- Всесто # будет название страницы, гдк пользователи будет просматривать резюме -->
    <a href="{% url 'resume' %}?next={{ request.path }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcFJREFUSEvFlotNBDEMRH2dQCVAJ1AJUAlQCVAJdAJ6aB3Nep0vOl2k1a1uY489GTs+2YXW6UK4tgJ8ZWa3Zsbv9xY4vx8zSYwCA3JvZo8N5w7+NhJED3gEMIvl1cyehZHDnhYwoO8bpW4InZ9bRryzx5+bjRXfCwN3NfAaMM6+JEycPAxQGIOt2tWAyRQBsaDsaUI48XjSzDPgF6FsFlTjI1gXI2cOY2VFYLIkWxaRXk9kGreSOUng80B5BNZsEUarNtm7yyIJUrWCL3z+rQiMoNh8oCY49QB75YiZ62XHoBoqza2zVVZGgPWsC4tqSGfCKQsKyTouBeVboU42xuPRhIrfGjCi8j7sPiNoTXeRBT3nwqRuUkoyYP3eEntG/09ksnbGNUVH8BGq0yNcEZeCz4qrMKmG1ZpLeHXwEeC0CqKh1lzvUgC818NV0bve0FLgf1umNg8vvVJqvUui18Fa6p66JHCkdypZM8r0KI0BKGjK3LkHgQPFtUtCI8+mCaLn8fHHGUJEjD4+PPB/c2rplcPqsNcdIHrAzgABME3QhWrL9YAgY58/2IwCawC8O6U+1J9toG+VzdK32YyXQDKjXxWyfB/hr400AAAAAElFTkSuQmCC"/></a>
{% endif %}
<br>

    <div class="back">
    <br>
    <p class="data"><b>Название:</b>  {{ resume.title }}</p>
    <p class="data"><b>ФИО:</b>  {{ resume.FIO }}</p>
    <p class="data"><b>Пол:</b>  {{ resume.get_sex_display }}</p>
    <p class="data"><b>Дата рождения:</b>  {{ resume.birthday }}</p>
    <p class="data"><b>Направление обучения:</b>  {{ resume.napravlenie }}</p>
    <p class="data"><b>Уровень образования:</b>  {{ resume.get_education_level_display }}</p>
    <p class="data"><b>Опыт работы:</b>  {{ resume.get_experience_display }}</p>
    <p class="data"><b>Сфера деятельности:</b>  {{ resume.sphere }}</p>
    <p class="data"><b>Содержание:</b>  {{resume.content}}</p>

    {% if resume.file %}
        <p class="data"><b>Прикрепленный файл:</b> <a href="{{resume.file.url}}" download>Скачать</a></p>
    {% endif %}
    <br>
    </div>
    <br>
    {% if is_owner == True %}

        <div style="display: flex; width: 40%; margin-left: 2%;">
            <a href="{% url 'update' resume_id=resume.id %}" class="edit">Редактировать</a>
            <a href="{% url 'delete' resume_id=resume.id %}" class="edit">Удалить резюме</a>
        </div>
        <br>
    <div class="back">
            <br>
        <p class="data"><b style="font-size: 25px;">Проекты, на которые я откликнулся:</b></p>
        {% for applied_resume in applied_resumes %}
            <div style="display: flex; width: 60%;"><a href="{% url 'project' project_id=applied_resume.project.id %}" class="ans"><b>{{ applied_resume.project.title }}</b></a>
                {% if applied_resume.status == 0 %}
                    <span class="ans">В рассмотрении</span>
                    <a href="{% url 'recall_application' resume_id=resume.id project_id=applied_resume.project.id %}" class="ans_btn">Отозвать отклик</a>
                {% elif applied_resume.status == 1 %}
                    <span class="ans">Принято</span>
                {% elif applied_resume.status == 2 %}
                    <span class="ans">Отказано</span>
                {% else %}
                    <span class="ans">Неизвестный статус</span>
                {% endif %}
            </div>
        {% endfor %}

        <p class="data"><b style="font-size: 25px;">Проекты, в которые меня пригласили:</b></p>
        {% for invited_resume in invited_resumes %}
            <div style="display: flex; width: 60%;"><a href="{% url 'project' project_id=invited_resume.project.id %}" class="ans"><b>{{invited_resume.project.title}}</b></a>
            {% if invited_resume.status == 0 %}
                    <span class="ans">В рассмотрении</span>
                    <a href="{% url 'accept_invitation' resume_id=resume.id project_id=invited_resume.project.id %}" class="ans_btn">Принять приглашение</a>
                    <a href="{% url 'deny_invitation' resume_id=resume.id project_id=invited_resume.project.id %}" class="ans_btn">Отклонить приглашение</a>
                {% elif invited_resume.status == 1 %}
                    <span class="ans">Вы приняли приглашение</span>
                {% elif invited_resume.status == 2 %}
                    <span class="ans">Вы отказали в приглашении</span>
                {% else %}
                    <span class="ans">Неизвестный статус</span>
                {% endif %}
            </div>
        {% endfor %}
    <br>
    <br>
    </div>
<!--Здесь при выборе проекта для отправки, нужно передавать его id!!!!-->
    {% else %}
    <div class="otclic_form">
        <form action="{% url 'resume_invite' resume_id=resume.id %}" method="post" id="applyForm">
            {% csrf_token %}
            <input type="hidden" name="project_id" id="projectId">
            <button type="button" onclick="chooseResume()" class="invite animate">Пригласить</button>
        </form>

        <div id="projectSelection" style="display: none; margin-left: 20%; margin-top: -3%;">
            <select id="projectSelect" style="border-radius: 10px; padding: 10px 10px 10px 10px;">
                {% for project in projects %}
                    <option value={{project.id}}>{{project.title}}</option>
                {% endfor %}
            </select>
            <button onclick="submitResume()" class="invite animate" style="margin-left: 1%">Выбрать</button>
        </div>

        <script>
        function chooseResume() {
            document.getElementById('projectSelection').style.display = 'block';
        }

        function submitResume() {
            var selectedResumeId = document.getElementById('projectSelect').value;
            document.getElementById('projectId').value = selectedResumeId;
            document.getElementById('applyForm').submit();
        }
        </script>

    </div>
    {% endif %}

    <!--    Проверка, что это резюме еще не было приглашено-->
    {% for message in messages %}
        <div>
            <p class="error_iviting">Ошибка: {{ message }}</p>
        </div>
    {% endfor %}
</body>
</html>