<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume page</title>
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/resume_page.css" />
</head>
<body>
{% if is_owner == True %}
    <a href="{% url 'personal_account' %}?next={{ request.path }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcFJREFUSEvFlotNBDEMRH2dQCVAJ1AJUAlQCVAJdAJ6aB3Nep0vOl2k1a1uY489GTs+2YXW6UK4tgJ8ZWa3Zsbv9xY4vx8zSYwCA3JvZo8N5w7+NhJED3gEMIvl1cyehZHDnhYwoO8bpW4InZ9bRryzx5+bjRXfCwN3NfAaMM6+JEycPAxQGIOt2tWAyRQBsaDsaUI48XjSzDPgF6FsFlTjI1gXI2cOY2VFYLIkWxaRXk9kGreSOUng80B5BNZsEUarNtm7yyIJUrWCL3z+rQiMoNh8oCY49QB75YiZ62XHoBoqza2zVVZGgPWsC4tqSGfCKQsKyTouBeVboU42xuPRhIrfGjCi8j7sPiNoTXeRBT3nwqRuUkoyYP3eEntG/09ksnbGNUVH8BGq0yNcEZeCz4qrMKmG1ZpLeHXwEeC0CqKh1lzvUgC818NV0bve0FLgf1umNg8vvVJqvUui18Fa6p66JHCkdypZM8r0KI0BKGjK3LkHgQPFtUtCI8+mCaLn8fHHGUJEjD4+PPB/c2rplcPqsNcdIHrAzgABME3QhWrL9YAgY58/2IwCawC8O6U+1J9toG+VzdK32YyXQDKjXxWyfB/hr400AAAAAElFTkSuQmCC"/></a>
{% else %}
    <!-- Всесто # будет название страницы, гдк пользователи будет просматривать резюме -->
    <a href="{% url 'resume' %}?next={{ request.path }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcFJREFUSEvFlotNBDEMRH2dQCVAJ1AJUAlQCVAJdAJ6aB3Nep0vOl2k1a1uY489GTs+2YXW6UK4tgJ8ZWa3Zsbv9xY4vx8zSYwCA3JvZo8N5w7+NhJED3gEMIvl1cyehZHDnhYwoO8bpW4InZ9bRryzx5+bjRXfCwN3NfAaMM6+JEycPAxQGIOt2tWAyRQBsaDsaUI48XjSzDPgF6FsFlTjI1gXI2cOY2VFYLIkWxaRXk9kGreSOUng80B5BNZsEUarNtm7yyIJUrWCL3z+rQiMoNh8oCY49QB75YiZ62XHoBoqza2zVVZGgPWsC4tqSGfCKQsKyTouBeVboU42xuPRhIrfGjCi8j7sPiNoTXeRBT3nwqRuUkoyYP3eEntG/09ksnbGNUVH8BGq0yNcEZeCz4qrMKmG1ZpLeHXwEeC0CqKh1lzvUgC818NV0bve0FLgf1umNg8vvVJqvUui18Fa6p66JHCkdypZM8r0KI0BKGjK3LkHgQPFtUtCI8+mCaLn8fHHGUJEjD4+PPB/c2rplcPqsNcdIHrAzgABME3QhWrL9YAgY58/2IwCawC8O6U+1J9toG+VzdK32YyXQDKjXxWyfB/hr400AAAAAElFTkSuQmCC"/></a>
{% endif %}
<br>

    <p class="data"><b>Название:</b>  {{resume.title}}</p>
    <p class="data"><b>ФИО:</b>  {{resume.FIO}}</p>
    <p class="data"><b>Пол:</b>  {{resume.sex}}</p>
    <p class="data"><b>Дата рождения:</b>  {{resume.birthday}}</p>
    <p class="data"><b>Направление обучения:</b>  {{resume.napravlenie}}</p>
    <p class="data"><b>Уровень образования:</b>  {{resume.education_level}}</p>
    <p class="data"><b>Опыт работы:</b>  {{resume.experience}}</p>
    <p class="data"><b>Сфера деятельности:</b>  {{resume.sphere}}</p>
    <p class="data"><b>Содержание:</b>  {{resume.content}}</p>
    {% if resume.file %}
    <p class="data"><b>Прикрепленный файл:</b>  {{resume.file}}</p>
    {% endif %}

    {% if is_owner == True %}
    <br>
    <br>
    <div style="display: flex; width: 30%;">
        <a href="{% url 'update' resume_id=resume.id %}" class="edit">Редактировать</a>
        <a href="{% url 'delete' resume_id=resume.id %}" class="edit">Удалить резюме</a>
    </div>
    {% endif %}
</body>
</html>