<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume page</title>
</head>
<body>
    <p>{{resume.title}}</p>
    <p>{{resume.FIO}}</p>
    <p>{{resume.sex}}</p>
    <p>{{resume.birthday}}</p>
    <p>{{resume.napravlenie}}</p>
    <p>{{resume.education_level}}</p>
    <p>{{resume.experience}}</p>
    <p>{{resume.sphere}}</p>
    <p>{{resume.content}}</p>
    <p>{{resume.file}}</p>

    <a href="{% url 'update' resume_id=resume.id %}"><button>Редактировать</button></a>

    <a href="{% url 'delete' resume_id=resume.id %}"><button>Удалить резюме</button></a>

</body>
</html>