<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Startapp</title>
    <link rel="stylesheet" type="text/css" href="../../static/itmo_hh/css/startapp.css" />
</head>
<body>

<div class="top_line"> 
	<div class="left_top">
		<img  src="../../static/itmo_hh/img/itmo_logotip.png">
	</div>
	<div class="right_top">
		<a href="{% url 'personal_account' %}"><button class="top_button1"></button></a>
		<button class="top_button2"></button>
	</div>
</div>

<h3 class="p1">  Вакансии: стартапы</h3> 

</body>
</html>